.header {
  margin-top: 0;
  padding: 18px 20px 0;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 767px) {
    padding: 20px 14px 0;
  }
}

.header__logo {
  width: 105px;

  img {
    width: 100%;
    height: auto;
  }

  @media (max-width: 767px) {
    width: 75px;
  }
}

.header__toggle-button {
  width: 50px;
  height: 50px;
  padding: 0;
  margin-top: 8px;

  border: none;
  border-radius: 50%;
  background-color: $red;
  background-image: url('../img/icons/play2.svg');
  background-size: 29px 34px;
  background-position: center;
  background-repeat: no-repeat;

  &--pause {
    background-image: url('../img/icons/pause2.svg');
    background-size: 24px 38px;
  }

  @media (max-width: 767px) {
    width: 27px;
    height: 27px;

    background-size: 15px auto;
    &--pause {
      background-size: 12px auto;
    }
  }
}
