.share {
  display: flex;
  align-items: center;
  justify-content: center;
}

.share__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 21px;

  text-transform: uppercase;

  @media (max-width: 767px) {
    margin-right: 10px;

    font-size: 11px;
    line-height: 13px;
  }
}

.share__link {
  &:not(:last-child) {
    margin-right: 21px;
  }

  text-transform: uppercase;

  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-right: 10px;
    }

    font-size: 11px;
    line-height: 13px;
  }
}
