body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: rgba($white, 0.5);

  background: $black;

  @media (min-width: 1024px) {
    min-height: 768px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  margin-top: 0;
  margin-bottom: auto;
}

a {
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 73px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  @media (max-width: 767px) {
    top: 140px;
  }
}
